* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

. App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-view {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.listing {
  padding: 10px;
  width: 20vw;
}

.listing h2 {
  text-align: center;
}

.listing--list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-top: 30px;
  gap: 10px;
}
.map-wrapper {
  width: 60vw;
  position: relative;
}

.map {
  position: relative;
  width: 100%;
  height: 100%;
}

.chat {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15vw;
  height: 15vw;
}

.action-btn {
  padding: 15px;
  width: 100%;
}
.user-marker {
  background-color: transparent;
}

.map-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
  background-color: white;
  padding: 15px;
  border-radius: 20px;
  margin-top: 10px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
